<div class="row">
	
	<div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Information</li>
			<li>ABV: <%= @info.brewdb.abv %></li>
			<li>IBU: <%= @info.brewdb.ibu %></li>
			<li>Organic: <%= @info.brewdb.isOrganic %></li>
			<li>Glass: <%= @info.brewdb.glass_name %></li>
			<li>Style: <%= @info.brewdb.style_name %></li>
			<li>Status: <%= @info.brewdb.status %></li>
          </ul>
        </div><!--/.well -->
	</div> <!--end sidebar div-->
	
	<div class="span9">
		<div class="row">
				<div class="span1">
					<img src="<%= @info.brewdb.label_icon %>" name="image icon" />
				</div>
				<div class ="span8">
					<h1><%= @info.brewdb.name %></h1>
				</div>
		</div> <!--end row-->
		<div class="row">
			<div class="span9">
				<p><%= @info.brewdb.description %></p>
			</div>
		</div> <!-- end row div --> 
		<div class = "row">
			<div class = "span9">
				<div class="cycle-slideshow brew-slideshow"
					data-cycle-loader=wait
				    data-cycle-auto-height=container
					data-cycle-fx=fadeout
			    	data-cycle-timeout=5000
					data-cycle-pause-on-hover="true"
					>
		
					<% @info.flickr.each do |photo| %>
						<img src="<%= photo.photo_url %>" 
						alt="<%= photo.title %>" />
					<% end %>
			
				</div> <!-- end slideshow -->
			</div> <!-- end span 6 -->
		</div> <!-- end row div --> 
	</div> <!--end content beside sidebar div-->
	
</div> <!--end main row-->

<div class="row"> <!-- comments section -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'brewinfodepot'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			var disqus_identifier = '<%= @info.brewdb.id %>';
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
</div> <!-- end comments row -->